:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --landing-bg:#050810;
  --btn-primary:linear-gradient(123.28deg, #306BFF 4.69%, #040E3A 289.88%);

}
body {
  margin: 0px;
  padding: 0px;
}